<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.com">
    <head>
        <link rel="stylesheet" href="css/home.css">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <title>Home</title>
    </head>

    <body class="home"> 
      <div class="nav">
        <a href="home">
          <img src="/images/Divine_Logo.png" class="pic">
        </a>

        <ul>
            <li><a href="home">Home</a></li>
            <li><a href="productList">Products</a></li>
            <li><a href="StockCheck">Stock</a></li>
            <li><a href="#">Vendors</a></li>
        </ul>
      </div>
    <div class="container">
      <div class="slider-wrapper">
        <ul class="image-list">
          <img class="image-item" src="/images/1.png" alt="img-1" />
          <img class="image-item" src="/images/2.png" alt="img-2" />
          <img class="image-item" src="/images/3.png" alt="img-3" />
          <img class="image-item" src="/images/4.png" alt="img-4" />
          <img class="image-item" src="/images/5.png" alt="img-5" />
          <img class="image-item" src="/images/6.png" alt="img-6" />
          <img class="image-item" src="/images/7.png" alt="img-7" />
          <img class="image-item" src="/images/8.png" alt="img-8" />
          <img class="image-item" src="/images/9.png" alt="img-9" />
          <img class="image-item" src="/images/10.png" alt="img-10"/>
          <img class="image-item" src="/images/11.png" alt="img-11" />
          <img class="image-item" src="/images/12.png" alt="img-12" />
          <img class="image-item" src="/images/13.png" alt="img-13" />
          <img class="image-item" src="/images/14.png" alt="img-14" />
          <img class="image-item" src="/images/15.png" alt="img-15" />
          <img class="image-item" src="/images/16.png" alt="img-16" />
          <img class="image-item" src="/images/17.png" alt="img-17" />
          <img class="image-item" src="/images/18.png" alt="img-18" />
          <img class="image-item" src="/images/19.png" alt="img-19" />
          <img class="image-item" src="/images/20.png" alt="img-20"/>
          <img class="image-item" src="/images/21.png" alt="img-21" />
          <img class="image-item" src="/images/22.png" alt="img-22" />
          <img class="image-item" src="/images/23.png" alt="img-23" />
          <img class="image-item" src="/images/24.png" alt="img-24" />
          <img class="image-item" src="/images/25.png" alt="img-25" />
          <img class="image-item" src="/images/26.png" alt="img-26" />
          <img class="image-item" src="/images/27.png" alt="img-27" />
          <img class="image-item" src="/images/28.png" alt="img-28" />
          <img class="image-item" src="/images/29.png" alt="img-29" />
          <img class="image-item" src="/images/30.png" alt="img-30"/>
          <img class="image-item" src="/images/31.png" alt="img-31" />
          <img class="image-item" src="/images/32.png" alt="img-32" />
          <img class="image-item" src="/images/33.png" alt="img-33" />
          <img class="image-item" src="/images/34.png" alt="img-34" />
          <img class="image-item" src="/images/35.png" alt="img-35" />
          <img class="image-item" src="/images/36.png" alt="img-36" />
          <img class="image-item" src="/images/37.png" alt="img-37" />
          <img class="image-item" src="/images/38.png" alt="img-38" />
          <img class="image-item" src="/images/39.png" alt="img-39" />
          <img class="image-item" src="/images/40.png" alt="img-40"/>
          <img class="image-item" src="/images/41.png" alt="img-41" />
          <img class="image-item" src="/images/42.png" alt="img-42" />
          <img class="image-item" src="/images/43.png" alt="img-43" />
          <img class="image-item" src="/images/44.png" alt="img-44" />
          <img class="image-item" src="/images/45.png" alt="img-45" />
          <img class="image-item" src="/images/46.png" alt="img-46" />
          <img class="image-item" src="/images/47.png" alt="img-47" />
         
        </ul>
      </div>
    </div>
    <div class="about">
      <centre class="abt">
        <h1>Divine<span> Organizer's</span></h1>
      </centre>
      <p class="des">"Discover the art of organization at our one-stop shop! Elevate your lifestyle with our exquisite range of organizers, meticulously crafted to enhance your everyday living.<br><br>From stunning jewelry organizers to convenient shirt and saree kits, we offer a diverse collection that blends functionality with style”</p>
    </div>
    
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
    </body>
</html>